#root .App .fixed .header .flex {
  width: 90%;
  margin: 0 auto;
}

#root .App .fixed .header .flex a.px-5{
  padding: 0;
}

#root .App .fixed .header .flex .logo{
  width: 100px;
}

.toggleButon {
  top: -8px;
  right: 21%;
  width: 25px;
}

.nav .iconUser{
  width: 40px;
  height: 100%;
}

.nav .iconLogout {
  width: 45px;
  height: 100%;
}

.portalContent {
  background-image: url("../assets/bgImage.png");
  background-position: right top;
  background-repeat: no-repeat;
}
