@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400;500;700&family=Poppins:wght@300;400;500&display=swap");

* {
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
}

body {
  margin: 0;
  font-family: "Noto Sans JP", "Poppins", -apple-system, BlinkMacSystemFont,
    "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #FFFDF7;
}
/* 
html {
  font-size: 62.5%;
} */

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* footer */
.footer {
  background: #f5f5f5;
}

/* index */

.header {
  position: relative;
  background: #f5f5f5;
}

/* humberger */
.toggleButon {
  position: absolute;
  top: 10px;
  right: 20px;
  width: 38px;
  height: 45px;
  overflow: hidden;
  z-index: 2;
}

.toggleButon > span {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto;
  display: inline-block;
  width: 100%;
  height: 2px;
  background-color: black;
}

.line-1 {
  transform: translate(0, 0);
}

.line-2 {
  transform: translate(0, 10px);
}

.line-3 {
  transform: translate(0, 20px);
}

.toggleButon[aria-expanded="true"] > .line-1 {
  transform: translate(0, 0) rotate(-45deg);
}

.toggleButon[aria-expanded="true"] > .line-2 {
  transform: translate(0, 0) rotate(45deg);
}

.toggleButon[aria-expanded="true"] > .line-3 {
  display: none;
}

.navigation {
  display: none;
  width: 40%;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 5rem 2rem;
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.87);
}

.navigation[aria-hidden="false"] {
  display: flex;
}

.navigation ul li {
  text-align: left;
  width: 300px;
}

.navigation ul li a {
  transition: all 0.5s 0s ease;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.navigation ul li a:hover {
  color: #d8a20b;
  border-bottom: 1px solid #d8a20b;
}
.nav {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 99;
  background: #a0a0a0;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.24s;
  pointer-events: none;
}

.nav.is_active {
  opacity: 1;
  pointer-events: auto;
}

.nav-list {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.textArea_privacy {
  display: none;
}

.footer_nav {
  justify-content: space-between !important;
  color: #7c7b7b;
}

/* top */
.mainTtl {
  margin-bottom: 40px;
}

.contentCenter {
  margin-top: 30px;
  width: 1000px;

  height: 100%;
  border-right: 1px solid #959494;
}

.deleteBtn {
  display: block;
  position: relative;
  width: 15px;
  height: 15px;
}

.deleteBtn::before, .deleteBtn::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 3px;
  height: 16px;
  background: #333;
  background-color: rgb(6 182 212);
}

.deleteBtn::before {
  transform: translate(-50%, -50%) rotate(45deg);
}

.deleteBtn::after {
  transform: translate(-50%, -50%) rotate(-45deg);
}

.writing-v {
  writing-mode: vertical-lr;
}

.mv {
  width: 1200px;
  margin: 0 auto;
  padding: 100px 0 0 0;
}

.contentL_top {
  width: 670px;
  border-right: 1px solid #959494;
  padding-right: 1.25rem;
  z-index: 9999;
}

.contentR_top {
  width: 504px;
}

.inputArea {
  padding: 14px 20px;
}
.border-gray {
  border: 1px solid #707070;
}

.border-gray:focus {
  background-color: #ffffff;
}

.submitBtn {
  right: -16px;
}

.color-blue {
  background-color: #3FA7C9;
}

.color-yellow {
  background-color: #F8C128;
}

.main_top {
  height: 100vh;
  position: relative;
}

.main_top::before {
  content:"Make";
  position: absolute;
  background: linear-gradient(90deg, #f4f3f0 0%, #f1e4bc);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 9rem;
  font-family: 'Poppins';
  font-weight: bold;
  left: 11%;
  top: -5%;
}

.mainMiddle_top::before {
  content: "Your Idea";
  position: absolute;
  background: linear-gradient(90deg, #f4f3f0 0%, #f1e4bc);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 9rem;
  font-family: 'Poppins';
  font-weight: bold;
  left: 11%;
  bottom: 45%;
}
.main_top::after {
  content: "Simple";
  position: absolute;
  background: linear-gradient(90deg, #f4f3f0 0%, #f1e4bc);
  background-clip: text;
  -webkit-text-fill-color: transparent;  
  font-size: 9rem;
  font-family: 'Poppins';
  font-weight: bold;
  left: 11%;
  bottom: 15%;
}

.ttl_top {
  display: flex;
  align-items: center;
}

.ttl_top::before,
 .ttl_top::after{
  content: "";
  border-top: 1px solid #020202;
  flex-grow: 1;
}

.ttl_top::before {
  margin-right: 2rem;
}

.ttl_top::after {
  margin-left: 2rem;
}