@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400;500;700&family=Poppins:wght@300;400;500&display=swap");

html,
body,
#root {
  height: 100%;
}

body {
  margin: 0;
  font-family: "Noto Sans JP", "Poppins", -apple-system, BlinkMacSystemFont,
    "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* footer */
.footer {
  background: #f5f5f5;
}

/* index */
.App-header {
}

.header {
  position: relative;
  background: #f5f5f5;
}

.hamburger {
  width: 45px;
  height: 33px;
  position: absolute;
  top: 10px;
  right: 16px;
  z-index: 100;
}

.hamburger_bar {
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 6px;
  position: absolute;
  left: 0;
  background: #000;
  transition: top 0.24s, transform 0.24s, opacity 0.24s;
}

.hamburger_bar:nth-child(1) {
  top: 0;
}

.hamburger_bar:nth-child(2) {
  top: 50%;
  transform: translateY(-50%);
}

.hamburger_bar:nth-child(3) {
  top: 100%;
  width: 50%;
  transform: translateY(-100%);
}

.hamburger_bar.is_active:nth-child(1) {
  top: 50%;
  transform: translateY(-50%) rotate(135deg);
}

.hamburger_bar.is_active:nth-child(2) {
  transform: translate(50%, -50%);
  opacity: 0;
}

.hamburger_bar.is_active:nth-child(3) {
  top: 50%;
  transform: translateY(-50%) rotate(-135deg);
}

.nav {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 99;
  background: #a0a0a0;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.24s;
  pointer-events: none;
}

.nav.is_active {
  opacity: 1;
  pointer-events: auto;
}

.nav-list {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.textArea_privacy {
  display: none;
}

.footer_nav {
  justify-content: space-between !important;
  color: #7c7b7b;
}

/* top */
.contentLeft {
}

.contentCenter {
  width: 800px;
}
