@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400;500;700&family=Poppins:wght@300;400;500&display=swap");

* {
  box-sizing: border-box;
}

html,
body,
#root {
  margin: 0;
  padding: 0;
  min-height: 100%;
}

/* add */
html {
  position: relative;
}
/* add */

body {
  margin: 0;
  padding: 0;
  font-family: "Noto Sans JP", "Poppins", -apple-system, BlinkMacSystemFont,
    "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #FFFDF7;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* footer */
.footer {
  background: #f5f5f5;
}

/* index */

.textArea_privacy {
  display: none;
}

.footer_nav {
  width: 70%;
  margin: 0 auto;
  color: #7c7b7b;
}

.bg-orangeGradation {
  background-color: #fd9181;
  background-image: linear-gradient(0deg, #fd9181 0%, #fdaf5b 50%, #ffce2f 100%);
}

.bg-blueGradation {
  background-color: #7e9cf7;
  background-image: linear-gradient(0deg, #7e9cf7 0%, #4dbdff 50%, #1ddafe 100%);
}

.bg-redGradation {
  background-color: #EF4444;
  background-image: linear-gradient(0deg, #EF4444 0%, #F75959 50%, #F86C6C 100%);
}

.bg-grayGradation {
  background-color: #BABABA;
  background-image: linear-gradient(0deg, #BABABA 0%, #CECECE 50%, #E3E3E3 100%);
}

.scroll {
  overflow-y: scroll;
  overflow-x: hidden;
  height: 150px;
}

.templateList {
  height: 196.5px;
  -webkit-scrollbar-width: auto;
  scrollbar-color: #0abb45 #121010;
}

.templateList::-webkit-scrollbar {
  width: 12px;
}

.templateList::-webkit-scrollbar-track {
  background-color: #E2E4E6;
  border-radius: 4px;
}

.templateList::-webkit-scrollbar-thumb {
  background-image: linear-gradient(180deg, #FFE59B 0%, #FCECBD 50%, #FFFDF7 100%);
  border-radius: 4px;
}


#u_content_text_9.u-row-container::after {
  content:"" !important;
}


.templateHistory {
  height: 412.2px;
}

.titleHistory {
  width: 70px;
}

.attention {
  color: #DD1C1C;
}

.language-select .dropdown__lists {
  position: absolute;
  top: 45px;
  left: -8%;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
  visibility: hidden;
  opacity: 0;
}

.language-select:hover .dropdown__lists {
  visibility: visible;
  opacity: 1;
}